<%- include('partials/header') %>
<body>
  <%- include('partials/navbar') %>

  <div class="grid grid-cols-4 gap-4">

  <% profiles.forEach((profile) => { %>
    <div class="card card-compact w-96 bg-base-100 shadow-xl border-2">
      <figure><img src="<%= profile.image %>" /></figure>
      <a href="/profiles/<%= profile.id %>" class="btn"><%= profile.id %></a>

      <div class="card-body">
        <h2 class="card-title"><%=profile.username%></h2>
        <p><%=profile.bio %> </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Hire</button>
          <button class="btn btn-primary">Fire</button>
        </div>
      
      </div>
    </div>
  <% }) %>
  <a href="/profiles/new" class="btn btn-block h-full"><i class="fa-regular fa-id-badge"></i><i class="fa-solid fa-plus"></i></a>


  </div>
</body>

</html>